@import "variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $dark-background;
  color: $light-text;
}

.nav {
  .nav-link {
    margin-right: 1rem;
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.theme-switcher {
  label {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      margin-left: 0.5rem;
    }
  }
}
